.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    height: 320px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    
  }

  .card img {
    width: 100px;
  }

  .card .productName {
    font-size: 15px;
  }
  
  .price {
    color: grey;
    font-size: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }